@import "../../global.scss";

.portfolio {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    

    h1{
        font-style: 50px;
    }

    ul{
        margin: 10px;
        padding: 0;
        list-style: none;
        display: flex;
        

        li{
            font-size: 14px;
            margin-right: 50px;
            padding: 7px;
            border-radius: 10px;
            cursor: pointer;
            overflow: hidden;

            &.active{
                background-color: $mainColor;
                color: white;
            }
        }
    }
        .container {
            width: 70%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            overflow: hidden;
    
            .item{
                width: 25%;
                height: 45%;
                //border-radius: 15px;
                border: 1px solid rgb(240, 239, 239);
                margin: 5px 5px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                color: white;
                position: relative;
                transition: all .75s ease;
                cursor: pointer;
                
                

                h3{
                    position: absolute;
                    font-style: 20px;
                }
                
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    z-index: 1;
                }

                &:hover{
                    background-color: $mainColor;
                    img{
                        opacity: 0;
                        z-index: 0;
                    }
                }
            }
        }
}   
  