.works{
    background-color: lightgreen;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .arrow{
        filter: invert(100);
        height: 75px;
        position: absolute;
        transform: rotate(-90deg);
        cursor: pointer;

        &.left{
            left: 100px;
            transform: rotate(90deg);
            
        }
        &.right{
            right: 100px;
        }
    }

    .slider{
        height: 350px;
        display: flex;
        position: absolute;
        left: 0;
        .container{
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: center;

            .item{
                width: 700px;
                height: 100%;
                background-color: white;
                border-radius: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                
                .left{
                    flex: 4;
                    height: 80%;
                    background-color: rgb(51, 184, 224);
                    display: flex;
                    align-items: center;
                    justify-content: center;   
                    
                    .leftContainer{
                        width: 90%;
                        height: 70%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        .imgContainer{
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            background-color: rgb(245, 179, 155);
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            overflow: hidden;

                            img{
                                width: 50%;
                                height: 85%;
                            }
                        }
                        h2{
                            font-style: 20px;
                        }
                        p{
                            font-style: 13px;
                        }
                        span{
                            font-style: 12px;
                            font-weight: 600;
                            text-decoration: underline;
                            cursor: pointer;
                        }

                    }
                }
                .right{
                    flex: 8;
                    height: 100%;
                    background-color: yellow;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;

                    img{
                        width: 300px;
                        transform: rotate(-10deg);
                        
                    }

                }
            }
        }
    }

    
}